node_modules
dist
.env
*.log
coverage
.vscode
.idea
*.tgz
*.jks
*.keystore

# Windows
Thumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
*.lnk

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
*.pkl

# Linux
.directory

# Editor / OS temp files
*~
*.swp
*.swo
*._*
.pub-cache
.pub/
build/
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
*.g.dart
*.freezed.dart
*.mocks.dart
apps/mobile/node_modules
apps/mobile/android
apps/mobile/ios
apps/mobile/build
apps/mobile/.expo
apps/mobile2/node_modules
apps/mobile2/android
apps/mobile2/ios
apps/mobile2/build/
apps/mobile2/.dart_tool/
apps/mobile2/.flutter-plugins
apps/mobile2/.flutter-plugins-dependencies
apps/mobile2/key.properties
apps/mobile2/linux/
apps/mobile2/windows/
apps/mobile2/macos/